<div class="navbar navbar-default navbar-static-top">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 ">
      <ul class="nav navbar-nav top-menu">
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/')}" href="/#/" translate="NAVIGATION.HOME"></a></li>
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/pick')}"  href="/#/pick" translate="NAVIGATION.PICK_WORDS"></a></li>
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/learn')}" href="/#/learn" translate="NAVIGATION.LEARN"></a></li>
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/tests')}" href="/#/tests" translate="NAVIGATION.TEST"></a></li>
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/results')}" href="/#/results" translate="NAVIGATION.RESULTS"></a></li>

      </ul>
      <ul ng-if="!$ctrl.isAuthenticated()" class="nav navbar-nav pull-right">
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/login')}" href="/#/login" translate="NAVIGATION.LOGIN"></a></li>
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/signup')}" href="/#/signup" translate="NAVIGATION.SIGNUP"></a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a ng-class="{'font-weight-bold': $ctrl.isActive('/challenge')}" href="/#/challenge" translate="NAVIGATION.CHALLENGE"></a></li>      
        <li><a ng-click="$ctrl.changeLanguage()" ng-class="{'font-weight-bold': $ctrl.isActive('/language')}"><span class="lang-sm" lang="{{'NAVIGATION.FLAG' | translate}}" style="border:1px solid gray; margin-top:1px"></span></a></li>
        <li><a class="premium" ng-class="{'font-weight-bold': $ctrl.isActive('/premium')}" href="/#/premium" translate="NAVIGATION.PREMIUM"></a></li>
        <li ng-if="$ctrl.isAuthenticated()"><a ng-class="{'font-weight-bold': $ctrl.isActive('/profile')}" href="/#/profile" translate="NAVIGATION.PROFILE"></a></li>
        <li ng-if="$ctrl.isAuthenticated()"><a href="/#/logout" translate="NAVIGATION.LOGOUT"></a></li>
      </ul>
    </div>
  </div>
</div>
