<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">PICK WORDS</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Pick</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
            
            <select name="language" class="form-control width50"
              ng-model="pick.data.languageSelected"
              ng-options="opt as opt.label for opt in pick.data.languages">
            </select>
            <p class="text-right margin-top10">
              <a class="btn btn-primary" ng-click="pick.choose(pick.data.languageSelected)" href="#">Next »</a>
            </p>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> {{stars | number}} stars</li>
        <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
        <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
      </ul>
    </div>
  </div>
</div>

