<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">PICK WORDS</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <p>Please select language</p>

          <!-- TODO: make this ugly way to different way -->
          <!-- first button always visible -->
          <div ng-repeat="dictionary in pick.data.availableDictionaries">
            <button
              ng-if="$first"
              type="button"
              style="width:200px; text-align:left; margin:4px; display:block;"
              class="btn btn-info btn-lg"
              ng-click="pick.showLevelButtons(dictionary.id)">
              <span class="lang-lg lang-lbl" lang="{{dictionary.id | limitTo:2}}"></span>
            </button>
          </div>

          <!-- rest buttons visible under "more" button -->
          <div id="derp" class="slideable">
            <div ng-repeat="dictionary in pick.data.availableDictionaries">
              <button
                ng-if = "!$first"
                style = "width:200px; text-align:left; margin:4px; display:block;"
                type = "button"
                class = "btn btn-info btn-lg">
                <span class="lang-lg lang-lbl" lang="{{dictionary.id | limitTo:2}}"></span>
              </button>
            </div>
          </div>

          <button class="btn btn-link" style="margin-top:10px;margin-left:4px;margin-bottom:24px" slide-toggle="#derp">more..</button>

        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10"
            aria-valuemin="0" aria-valuemax="100" style="width:10%">
              10%
            </div>
          </div>


          <p>Please select level. (<b>Level 1</b> means 500 most used words, etc..)</p>
          <button ng-click="pick.next(1)" type="button" class="btn btn-lg btn-success ng-binding" style="text-align:left;font-weight: normal; margin:4px; width:185px"><b>LEVEL 1</b> (1-500)</button>
          <button ng-click="pick.next(2)" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left;font-weight: normal; margin:4px; width:185px"><b>LEVEL 2</b> (501-1000)</button>
          <button ng-click="pick.next(3)" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left;font-weight: normal; margin:4px; width:185px"><b>LEVEL 3</b> (1001-1500)</button>
          <button ng-click="pick.next(4)" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left;font-weight: normal; margin:4px; width:185px"><b>LEVEL 4</b> (1501-2000)</button>
          <button ng-click="pick.next(5)" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left;font-weight: normal; margin:4px; width:185px"><b>LEVEL 5</b> (2001-2500)</button>

          <button ng-click="pick.showPremiumModal()" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left; font-weight: normal; margin:4px; width:185px"> <i class="fa fa-lock" aria-hidden="true"></i><b>LEVEL 6</b> (2501-3000)</button>
          <button ng-click="pick.showPremiumModal()" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left; font-weight: normal; margin:4px; width:185px"> <i class="fa fa-lock" aria-hidden="true"></i><b>LEVEL 7</b> (3001-3500)</button>
          <button ng-click="pick.showPremiumModal()" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left; font-weight: normal; margin:4px; width:185px"> <i class="fa fa-lock" aria-hidden="true"></i><b>LEVEL 8</b> (3501-4000)</button>
          <button ng-click="pick.showPremiumModal()" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left; font-weight: normal; margin:4px; width:185px"> <i class="fa fa-lock" aria-hidden="true"></i><b>LEVEL 9</b> (4001-4500)</button>
          <button ng-click="pick.showPremiumModal()" type="button" class="btn btn-lg btn-default ng-binding" style="text-align:left; font-weight: normal; margin:4px; width:185px"> <i class="fa fa-lock" aria-hidden="true"></i><b>LEVEL 10</b> (4500-5000)</button>
          <br/>

          
          <button ng-click="pick.next(1)" type="button" class="btn btn-lg btn-warning ng-binding" style="margin:4px; width:185px"> NEXT</button>
 


<!--             
            <select name="language" class="form-control width50 margin-bottom10"
              ng-model="pick.data.languageSelected"
              ng-options="opt as opt.label for opt in pick.data.languages">
            </select>

             <div show-level-buttons
                next = "pick.next(selectedLanguage)"
                show-modal = "pick.showModal()"
                language-sele = "pick.data.languageSelected">
              </div>

              <p class="text-right margin-top10">
                <a class="btn btn-primary" ng-click="pick.next(pick.data.languageSelected)" href="#">Next »</a>
              </p> -->
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> {{stars | number}} stars</li>
        <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
        <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
      </ul>
    </div>
  </div>
</div>

