<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">PICK WORDS</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>Pick</h2>
          <p>Please select language that you want to learn and difficulty level. </p>
            
            <select name="language" class="form-control width50 margin-bottom10"
              ng-model="pick.data.languageSelected"
              ng-options="opt as opt.label for opt in pick.data.languages">
            </select>

             <div show-level-buttons
                next = "pick.next(selectedLanguage)"
                show-modal = "pick.showModal()"
                language-sele = "pick.data.languageSelected">
              </div>

            <!-- <b>{{ pick.data.config[pick.data.languageSelected.value].levels }}</b> -->
            <!-- pick.data.config[pick.data.languageSelected.value].levels -->
<!--             <div 
              ng-if="pick.data.config[pick.data.languageSelected.value].levels" 
              ng-repeat="n in [].constructor(pick.data.config[pick.data.languageSelected.value].levels) track by $index">
              <div ng-if="$index+1 <= pick.data.config[pick.data.languageSelected.value].free_levels">
                <button type="button" class="btn btn-success" style="margin:4px">
                <i class="ion-play"></i>
                Level {{ $index+1 }}</button>({{ 500*$index+1 }}-{{ 500*$index+500 }} most used words)
              </div>

              <div ng-if="$index+1 > pick.data.config[pick.data.languageSelected.value].free_levels">
              <button type="button" class="btn btn-danger" style="margin:4px">
                <i class="ion-locked"></i>
                Level {{ $index+1 }}</button>({{ 500*$index+1 }}-{{ 500*$index+500 }} most used words)
              </div>
            </div> -->



            <!-- <div ng-repeat="(key, value) in pick.data.config">
              <button type="button" class="btn btn-success" style="margin:4px">
                <i class="ion-play"></i>Level 1</button>
                (1-1000 most used words)<br>
              {{ value.words }}<br>
            </div>
             -->
            <!-- <br>
            <button type="button" class="btn btn-success" style="margin:4px"><i class="ion-play"></i>Level 2</button>(1001-2000 most used words)<br>
            <button type="button" class="btn btn-danger" style="margin:4px"><i class="ion-locked"></i>Level 4</button>(2001-3000 most used words)<br>
            <button type="button" class="btn btn-danger" style="margin:4px"><i class="ion-locked"></i>Level 5</button>(3001-4000 most used words)<br>
            <button type="button" class="btn btn-danger" style="margin:4px"><i class="ion-locked"></i>Level 6</button>(4001-5000 most used words)<br> -->
              <p class="text-right margin-top10">
              <a class="btn btn-primary" ng-click="pick.next(pick.data.languageSelected)" href="#">Next »</a>
            </p>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> {{stars | number}} stars</li>
        <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
        <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
      </ul>
    </div>
  </div>
</div>

