<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ 'LEARN_SHOW_ALL.HEAD_TITLE' | translate }}
      <span class="lang-sm" lang="{{learnIntro.data.flag}}" tooltip-placement="left" uib-tooltip="Language that you want to learn" style="float:right; border:1px solid gray; margin-top:1px"></span>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <ul class="list-group" dw-loading="loading-div">
            <li ng-repeat="item in learnShowAll.data.items"
                ng-click="learnShowAll.wordPicked(item.id)"
                ng-class="{'selected': item.word==learnShowAll.data.slowo}"
                class="list-group-item fade1">
              {{item.word}}
            </li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <ul class="list-group" dw-loading="loading-div">
            <li ng-repeat="item in learnShowAll.data.items"
                ng-click="learnShowAll.wordPicked(item.id)"
                ng-class="{'selected': item.word==learnShowAll.data.slowo}"
                class="list-group-item fade1">
              {{item.word}}
            </li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <ul class="list-group" dw-loading="loading-div">
            <li ng-repeat="item in learnShowAll.data.items"
                ng-click="learnShowAll.wordPicked(item.id)"
                ng-class="{'selected': item.word==learnShowAll.data.slowo}"
                class="list-group-item fade1">
              {{item.word}}
            </li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <ul class="list-group" dw-loading="loading-div">
            <li ng-repeat="item in learnShowAll.data.items"
                ng-click="learnShowAll.wordPicked(item.id)"
                ng-class="{'selected': item.word==learnShowAll.data.slowo}"
                class="list-group-item fade1">
              {{item.word}}
            </li>
          </ul>
        </div>

      </div>

    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> {{stars | number}} stars</li>
        <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
        <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
      </ul>
    </div>
  </div>
</div>

