<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ 'LEARN_INTRO.HEAD_TITLE' | translate }}
      <span class="lang-sm" lang="{{learnIntro.data.flag}}" tooltip-placement="left" uib-tooltip="Language that you want to learn" style="float:right; border:1px solid gray; margin-top:1px"></span>
    </div>
    <div class="panel-body">

      <div class="row">

        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <div class="progress">
            <div
              class="progress-bar progress-bar-danger"
              role="progressbar"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:{{learn.data.myValue2}}%">
              {{learn.data.myValue2}}%
            </div>
          </div>

          <ul class="list-group">
            <li ng-repeat="item in learn.data.items"
                ng-click="learn.wordPicked(item.id)"
                ng-class="{'selected': item.word==learn.data.slowo}"
                class="list-group-item fade1">
              {{item.word}}
            </li>
          </li>

        </div>

        <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8" ng-if="learn.data.languageToLearn">
          <style>
            .best-translations {  font-family: 'Montserrat', sans-serif; font-weight: bold; font-size:150%; }
            .small2 {  color:#999999;
          </style>

          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <button type="button" class="btn btn-warning btn-lg">
              <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                WORD
              </button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
                <h1 style="margin-top:0px">“LIFE”</h1>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <button style="float:right" type="button" class="btn btn-warning btn-lg">
                LAKE
                <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              </button>    
            </div>
          </div>


          <ul class="list-group">
            <li class="list-group-item list-group-item-success">
              <p class="small small2 list-group-item-text">rzeczownik</p>
              <p class="list-group-item-heading"><b class="best-translations">życie,</b> żywot, okres użytkowania, dusza, byt</p>
            </li>
            <li class="list-group-item list-group-item-warning">
              <p class="small small2 list-group-item-text">przymiotnik</p>
              <p class="list-group-item-heading"><b class="best-translations">na życie,</b> całego życia, ratunkowy, dożywotni</p>
            </li>
            <li class="list-group-item list-group-item-info">
              <p class="small small2 list-group-item-text">czasownik</p>
              <p class="list-group-item-heading">darować komuś życie</p>
             </li>
          </ul>

        </div>
<!-- <button ng-click="learn.add_at_top()" type="button" class="btn btn-warning btn-lg">
add_at_top
</button> 
<button ng-click="learn.add_at_bottom()" type="button" class="btn btn-warning btn-lg">
add_at_bottom
</button> 

<button ng-click="learn.remove_at_top()" type="button" class="btn btn-warning btn-lg">
remove_at_top
</button> 
<button ng-click="learn.remove_at_bottom()" type="button" class="btn btn-warning btn-lg">
remove_at_bottom
</button> 
<br>
 -->
<button ng-click="learn.scroll_up()" type="button" class="btn btn-warning btn-lg">
scroll up
</button>
<button ng-click="learn.scroll_down()" type="button" class="btn btn-warning btn-lg">
scroll down
</button><br>


      </div>
 


    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> {{stars | number}} stars</li>
        <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
        <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
      </ul>
    </div>
  </div>
</div>

