<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" translate="LEARN.HEAD_TITLE"></div>
    <div class="panel-body">

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <p translate="LEARN.SELECT_LANGUAGE"></p>

          <lang-buttons-list
            available-dictionaries = "learn.data.availableDictionaries" 
            language-to-learn = "learn.data.languageToLearn"
            language-btn-selected = "learn.languageSelected(dictionaryID)"
            >
          </lang-buttons-list>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" ng-if="!learn.data.languageToLearn">
          <img src="img\prof.svg" style="width:50%; float:right;">
          <p><b translate="LEARN.DESCRIPTON_LINE_1"></b></p>
          <p translate="LEARN.DESCRIPTON_LINE_2"></p>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" ng-if="learn.data.languageToLearn">
<!--        <div class="alert alert-warning" role="alert">jakis tam komunikat na pasku alert warning</div>
 -->
<!-- <div class="panel panel-default">
  <div class="panel-body">
 -->
 <style>
.best-translations {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:150%;
}
.small2 {
  color:#999999;
}

 </style>
    <h1> “ LIFE ”</h1>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    <p class="small small2 list-group-item-text">rzeczownik</p>
    <p class="list-group-item-heading"><b class="best-translations">życie,</b> żywot, okres użytkowania, dusza, byt</p>
  </li>
  <li class="list-group-item list-group-item-warning">
    <p class="small small2 list-group-item-text">przymiotnik</p>
    <p class="list-group-item-heading"><b class="best-translations">na życie,</b> całego życia, ratunkowy, dożywotni</p>
  </li>
  <li class="list-group-item list-group-item-info">
    <p class="small small2 list-group-item-text">czasownik</p>
    <p class="list-group-item-heading">darować komuś życie</p>
   </li>

</ul>

<!-- 
  </div>
</div>
 -->


<!--           <div class="alert alert-warning" role="alert">jakis tam komunikat na pasku alert warning</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna purus, rhoncus a placerat in, porttitor iaculis dui. Cras in elementum quam. Vestibulum at lobortis neque. Aliquam quis euismod ligula, vitae suscipit enim. Integer sed lectus vehicula, dictum purus at, rutrum ante. Nullam velit arcu, gravida at condimentum quis, iaculis et velit. In faucibus faucibus lorem, id lobortis nulla dignissim pharetra. Curabitur nunc mi, iaculis ac finibus at, varius sit amet diam. Pellentesque auctor dictum turpis, et semper eros laoreet sit amet. In et scelerisque sapien, faucibus sodales leo. Sed eget aliquam lectus. Donec ultricies tempor risus, a dapibus mauris aliquet quis.<p>
 -->
        </div>


      </div>


    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> {{stars | number}} stars</li>
        <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
        <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
      </ul>
    </div>
  </div>
</div>

