/*
h1, h2, h3, h4, h5, h6 {
	margin-top:10px !important;
}

.premium{
	color:#ff9729 !important;
}
*/

.margin-top10 {
	margin-top:10px;
}

.margin-bottom10 {
	margin-bottom:10px;
}

.width50 {
	width:50%	
}

.font-weight-bold {
	font-weight:bold;
	color:black !important;
}

.navbar-nav {
	li {
		a:hover {
			background-color: red !important;
		}
	}
}

.btn-change-language {
  display: block;
  margin-top: 5px;
  margin-left: auto !important;
  margin-right: auto;
  width: 200px;
  text-align: left;
}

.btn-change-language-cancel {
 display: block;
  margin-top: 15px;
  margin-left: auto !important;
  margin-right: auto;
  width: 200px;
  text-align: center;
}

.border-gray {
	border:1px solid gray;
	margin-top:1px
}

.btn.btn-lg>.lang-lg:after {
	top: 1px;
	left: 12px;
}

#pick_words {
	.darker_bkg {
		background-color:#1b8cad;
	}
	.level_button {
		text-align:left;
		font-weight: normal;
		margin:4px;
		width:185px
	}
}

.danger2 > td {
  background-color: #ff9292;
}

.dw-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: none;
}

.dw-loading:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.dw-loading.dw-loading-active {
    display: block;
}

.dw-loading.dw-loading-overlay {
    background-color: rgba(255, 255, 255, .7);
    z-index: 9999;
}

.dw-loading > .dw-loading-body {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.dw-loading > .dw-loading-body > .dw-loading-spinner {
    position: relative;
}

.dw-loading > .dw-loading-body > .dw-loading-text {
    position: relative;
    top: 25px;
    right: 20px;

    font-weight: bold;
    font-size: 11px;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}


.words_list > tbody > .danger2 > td.text-center > i:before {
  content: "\f088";
}
.words_list > tbody > .success > td.text-center > i:before {
  content: "\f087";
}


.fade1 {
  &.ng-leave {
    transition:0.25s linear all;
    opacity:1;
    height:40px;
    &.ng-leave-active {
      opacity:0;
      height:0px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &.ng-enter {
    transition:0.25s linear all;
    opacity:0;
    height:0px;
    padding-top: 0;
    padding-bottom: 0;
    &.ng-enter-active {
      opacity:1;
      height:40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.list-group {
  li:hover {
    background-color: #DDDDDD;
  }
  li {
    &.selected {
      background-color: #DDDDDD;
    }
  }

}
