<table class="table table-hover">
  <thead>
    <tr>
      <th translate="PICK_WORDS.WORD"></th>
      <th class="text-center">
        <button ng-click="$ctrl.selectAll()" type="button" class="btn btn-primary btn-sm" translate="PICK_WORDS.ALL"></button>
        <button ng-click="$ctrl.selectNone()" type="button" class="btn btn-primary btn-sm" translate="PICK_WORDS.NONE"></button>
      </th>
    </tr>
  </thead>
  <tbody>

    <tr ng-class="{'success': (item.unknown==0), 'danger2': (item.unknown==1)}" ng-repeat="item in $ctrl.words" id="word_{{item.id}}">
      <td>{{item.word}}</td>
      <td class="text-center"><i ng-class="{'fa fa-thumbs-o-up': (item.unknown==0), 'fa fa-thumbs-o-down': (item.unknown==1)}" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>